{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}

{% block local_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
{% endblock %}
{% block local_scripts%}
    <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
{% endblock %}

{% block content%}
    <div class="row mt-5">
        <div class="col-md-12 ls-movie-div">

            <div class="row mb-3">
                <div class="col-md-12 ls-title">
                    <h1> <span style="color: var(--white2115);" > Hi </span> {{ user.name }} </h1>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-12 ls-subtitle">
                    {% if user.movies|length != 0 %}
                        <h4> your favorite films </h4>
                    {% else %}
                        <h4> your collection is empty </h4>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">

                    <div class="row flex-nowrap overflow-auto">
                        {% for movie in user.movies %}
                            <div class="col-4 mx-2 mb-5 p-3 ls-scroll-item">

                                <div class="row">
                                    <div class="col-md-12 mb-2 ls-movie-title">
                                        <h5> {{ movie["name"] }} </h5>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <div class="ls-movie-poster">
                                            <a href="#">
                                                <img src="{{ movie['img'] }}"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="d-grid gap-2">
                                            <button type="button" class="btn ls-remove-btn" onclick="">remove</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}