{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}

{% block local_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/movie.css') }}" />
{% endblock %}
{% block local_scripts%}
    <script src="{{ url_for('static', filename='scripts/movie.js') }}"></script>
{% endblock %}

{% block content%}

<div class="row mt-5">
    <div class="col-md-12 ls-movie-div">

        <div class="row px-3">
            <div class="col-12 col-md-12 pb-3">
                <div id="movie" class="row">
                    <div class="col-12 col-md-12">
                        <div class="row">
                            <div class="col-12 col-md-12 pb-3">
                                <div id="ls-movie-title" class="ls-title">
                                    placeholder
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 col-md-4">
                                <div id="poster">
                                    <img src="https://m.media-amazon.com/images/M/MV5BZDEyN2NhMjgtMjdhNi00MmNlLWE5YTgtZGE4MzNjMTRlMGEwXkEyXkFqcGdeQXVyNDUyOTg3Njg@._V1_SX300.jpg"
                                         alt="movie title"/>
                                </div>
                            </div>

                            <div class="col-8 col-md-8">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 p-3">
                <div id="links" class="row">
                    <div class="col-12 col-md-12">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="ls-title">
                                    links
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}