{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block local_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
{% endblock %}
{% block local_scripts%}
    <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
{% endblock %}

{% block content%}
    <div id="my-get-started">
        <h1>MovieHub</h1>
        <button type="button" class="btn btn-outline-warning btn-lg rounded-pill" onclick="toLoginPage()">log in</button>
        <button type="button" class="btn btn-outline-warning btn-lg rounded-pill">sign up</button>
    </div>
{% endblock %}