body{
    color: #fff;
    font-family: 'Ubuntu';
    background-color: #2C001E;
    margin: auto;
}

#container{
    margin: auto;
}

.ls-form-div{
    margin: auto;
    width: 30%;
}

.navbar{
    background-color: #222;
}

.nav-link{
    color: #fff;
}

.nav-link:hover{
    color: #33da7a;
}