#my-get-started{
    width: 600px;
    margin: auto;
    border: 1px solid red;
}

#my-get-started h1{
    font-size: 120px;
}

.ls-title{
    color: var(--ubuntu-light-green);
}

.ls-subtitle{
    color: var(--ubuntu-blue);
}

.ls-movie-div{
    text-align: center;
}

.ls-scroll-item{
    background-color: var(--ubuntu-test-violet);
    border-radius: 10px;
    border: 2px solid var(--ubuntu-orange);
}

.ls-movie-poster img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
    transition: transform .2s;
}

.ls-movie-poster img:hover{
    transform: scale(1.025);
    cursor: pointer;
}

.ls-remove-btn{
    background-color: var(--ubuntu-light-gray) !important;
}

.ls-remove-btn:hover{
    background-color: var(--ubuntu-orange) !important;
}