.ls-movie-div{
    background-color: var(--ubuntu-test-violet);
    border-radius: 10px;
    border: 2px solid var(--ubuntu-orange);
}

#Poster img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.ls-title{
    text-align: center;
    font-size: 30px;
    color: var(--white2115);
}

#ls-not-found{
    display: none;
}

#ls-found{
    display: none;
}

.ls-details-header{
    color: var(--ubuntu-orange);
}

.ls-add-btn{
    background-color: var(--ubuntu-orange) !important;
    color: var(--white2115) !important;
}

.ls-add-btn:hover{
    background-color: var(--ubuntu-light-green) !important;
    color: var(--ubuntu-dark-violet) !important;
}

.ls-add-btn-div{
    text-align: center;
}